<div class="jumbotron center">
    <h1>Welcome page.</h1>
    <p>Find me in app/views/home/index.html.erb</p>
    <%= link_to 'Login', root_path, class: 'btn btn-primary'%> 
    <%= link_to 'Sign Up', root_path, class: 'btn btn-primary'%>
</div>
